<div class="btn-group" dropdown>
  <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>
    Button dropdown <span class="caret"></span>
  </button>
  <ul dropdownMenu role="menu" aria-labelledby="single-button">
    <li><i class="sprite sprite-1f600"></i></li>
    <li><i class="sprite sprite-1f601"></i></li>
    <li><i class="sprite sprite-1f602"></i></li>
    <li><i class="sprite sprite-1f603"></i></li>
    <li><i class="sprite sprite-1f604"></i></li>
    <li><i class="sprite sprite-1f605"></i></li>
    <li><i class="sprite sprite-1f606"></i></li>
    <li><i class="sprite sprite-1f607"></i></li>
    <li><i class="sprite sprite-1f608"></i></li>
    <li><i class="sprite sprite-1f609"></i></li>
    <li><i class="sprite sprite-1f610"></i></li>
    <li><i class="sprite sprite-1f611"></i></li>
    <li><i class="sprite sprite-1f612"></i></li>
    <li><i class="sprite sprite-1f613"></i></li>
    <li><i class="sprite sprite-1f614"></i></li>
    <li><i class="sprite sprite-1f615"></i></li>
    <li><i class="sprite sprite-1f616"></i></li>
    <li><i class="sprite sprite-1f617"></i></li>
    <li><i class="sprite sprite-1f618"></i></li>
    <li><i class="sprite sprite-1f619"></i></li>
    <li><i class="sprite sprite-1f620"></i></li>
    <li><i class="sprite sprite-1f621"></i></li>
    <li><i class="sprite sprite-1f622"></i></li>
    <li><i class="sprite sprite-1f623"></i></li>
    <li><i class="sprite sprite-1f624"></i></li>
    <li><i class="sprite sprite-1f625"></i></li>
    <li><i class="sprite sprite-1f626"></i></li>
    <li><i class="sprite sprite-1f627"></i></li>
    <li><i class="sprite sprite-1f628"></i></li>
    <li><i class="sprite sprite-1f629"></i></li>
    <li><i class="sprite sprite-1f630"></i></li>
    <li><i class="sprite sprite-1f631"></i></li>
    <li><i class="sprite sprite-1f632"></i></li>
    <li><i class="sprite sprite-1f633"></i></li>
    <li><i class="sprite sprite-1f634"></i></li>
    <li><i class="sprite sprite-1f635"></i></li>
    <li><i class="sprite sprite-1f637"></i></li>
    <li><i class="sprite sprite-1f641"></i></li>
    <li><i class="sprite sprite-1f642"></i></li>
    <li><i class="sprite sprite-1f644"></i></li>
    <li><i class="sprite sprite-1f911"></i></li>
    <li><i class="sprite sprite-1f912"></i></li>
    <li><i class="sprite sprite-1f913"></i></li>
    <li><i class="sprite sprite-1f914"></i></li>
    <li><i class="sprite sprite-1f915"></i></li>
    <li><i class="sprite sprite-1f922"></i></li>
    <li><i class="sprite sprite-1f923"></i></li>
    <li><i class="sprite sprite-1f924"></i></li>
    <li><i class="sprite sprite-1f925"></i></li>
  </ul>
</div>