.p-emoji-container {
    display: inline-block;
    float: right;
    #p-emoji-button {
        margin: 0 5px;
        border: none;
        background: url(../../../assets/cloud_background.png);
        width: 60px;
        height: 60px;
        padding: 20px;
    }
    .p-sprite {
        cursor: pointer;
    }
    .p-emoji-table {
        td {
            padding: 3px;
        }
    }
}