<div class="p-emoji-container dropdown">
  <button id="p-emoji-button" class="btn btn-default p-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <div class="sprite-default"></div>
  </button>
  <table class="dropdown-menu p-emoji-table" aria-labelledby="p-emoji-button">
    <tr>
      <td><i class="sprite sprite-1f600 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f601 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f602 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f603 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f604 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f605 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f641 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f642 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f644 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f635 p-sprite " (click)="onEmojiSelected($event) "></i></td>
    </tr>
    <tr>
      <td><i class="sprite sprite-1f606 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f607 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f609 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f60b p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f60c p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f60d p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f60e p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f60f p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f610 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f611 p-sprite " (click)="onEmojiSelected($event) "></i></td>
    </tr>
    <tr>
      <td><i class="sprite sprite-1f612 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f613 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f614 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f615 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f616 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f617 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f618 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f619 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f61a p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f61b p-sprite " (click)="onEmojiSelected($event) "></i></td>
    </tr>
    <tr>
      <td><i class="sprite sprite-1f61c p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f61d p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f61e p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f61f p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f620 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f621 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f622 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f623 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f624 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f626 p-sprite " (click)="onEmojiSelected($event) "></i></td>
    </tr>
    <tr>
      <td><i class="sprite sprite-1f628 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f629 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f62b p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f62c p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f62d p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f62e p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f62f p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f630 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f633 p-sprite " (click)="onEmojiSelected($event) "></i></td>
      <td><i class="sprite sprite-1f634 p-sprite " (click)="onEmojiSelected($event) "></i></td>
    </tr>
    <tr>
      <td colspan="10 "><button class="btn btn-default btn-block " (click)="onClearEmoji() ">Clear</button></td>
    </tr>
  </table>
</div>