<!-- Room panel -->
<div class="container p-room-container">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="p-title-container">
          <span *ngIf="!isEditingName" class="p-nav-title" [title]="room?.name">{{room?.name}}</span>
          <div *ngIf="user?.isOwner" class="p-nav-title-editing-container">
            <input *ngIf="isEditingName" class="p-title-input" type="text" (blur)="onEditedName($event)" (keyup.enter)="onEditedName($event)"
              [value]="room?.name">
              <button class="btn btn-default p-edit-button" (click)="onEditName()"
                popover="Edit room name!"
                popoverPlacement="bottom"
                [popoverAnimation]="true"
                [popoverOnHover]="true">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
          </div>
        </div>

        <!-- Sign out button -->
        <button class="btn btn-default p-nav-btn" (click)="onSignout()"
            popover="Logout!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>

        <!-- Player-observer switch -->
        <button class="btn btn-default p-nav-btn p-observing" (click)="onUpdatePlayer()">
          <i *ngIf="!user?.isPlayer" 
            popover="Switch to playing"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true"            
            class="fa fa-user-o" aria-hidden="true"></i>
          <i *ngIf="user?.isPlayer" 
            popover="Switch to observing"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true"            
            class="fa fa-user" aria-hidden="true"></i>          
        </button>

        <!-- Lock label -->
        <span *ngIf="!user?.isOwner" class="p-nav-control">
          <span *ngIf="lockRoom"
            popover="Room is unlocked!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-lock p-room-locked" aria-hidden="true"></i>
          </span>
          <span *ngIf="!lockRoom"
            popover="Room is locked!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-unlock-alt p-room-unlocked" aria-hidden="true"></i>
          </span>
        </span>

        <!-- Freeze label -->
        <span *ngIf="!user?.isOwner" class="p-nav-control">
          <span *ngIf="freezeRoom" title="Room is frozen"
            popover="Room is frozen!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-snowflake-o p-room-freeze" aria-hidden="true"></i>
          </span>
          <span *ngIf="!freezeRoom" title="Room is unfrozen"
            popover="Room is unfrozen!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
          </span>
        </span>

        <!-- Lock button -->
        <button class="btn btn-default p-nav-btn" *ngIf="user?.isOwner" (click)="onLockRoom()">
          <span *ngIf="lockRoom"
            popover="Unlock room!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-lock p-room-locked" aria-hidden="true"></i>
          </span>
          <span *ngIf="!lockRoom" title="Lock room"
            popover="Lock room!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-unlock-alt p-room-unlocked" aria-hidden="true"></i>
          </span>
        </button>

        <!-- Freeze button -->
        <button class="btn btn-default p-nav-btn" *ngIf="user?.isOwner" (click)="onFreezeRoom()">
          <span *ngIf="freezeRoom"
            popover="Unfreeze room!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-snowflake-o p-room-freeze" aria-hidden="true"></i>
          </span>
          <span *ngIf="!freezeRoom"
            popover="Freeze room!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
          </span>
        </button>

        <!-- Reveal button -->
        <button class="btn btn-default p-nav-btn" *ngIf="user?.isOwner" (click)="onRevealRoom()"
            popover="Reveal points!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
          <i class="fa fa-magic p-room-reveal"  [class.p-revealed]="room?.reveal" aria-hidden="true"></i>
        </button>

        <!-- Reset button -->
        <button class="btn btn-default p-nav-btn" *ngIf="user?.isOwner" (click)="onResetRoom()"
            popover="Set/Reset session!"
            popoverPlacement="bottom"
            [popoverAnimation]="true"
            [popoverOnHover]="true">
          <i class="fa fa-repeat p-room-reset"  aria-hidden="true"></i>
        </button>

        <!-- Emoticons button -->
        <app-emote></app-emote>

      </div>
    </div>
  </nav>
</div>
<div class="container p-gamearea">
  <div class="col-xs-6 p-story">
    <div class="col-xs-2 text-right">Story:</div> 
    <input *ngIf="user.isOwner" [(ngModel)]="story" (keyup)="onSetStory()" name="story" class="col-xs-6" />
    <div *ngIf="!user.isOwner" class="col-xs-12">{{ story }}</div>
  </div>
  <div class="col-xs-6">
      <span class="p-timer">{{time}}</span>
      <div class="sprite sprite-1f553 p-sprite p-timer-sprite"></div>
  </div>
  <div class="col-xs-6">
    <ul class="p-user-list">
      <li *ngFor="let user of users" class="p-user">
        <app-user [user]="user" [room]="room" [canKick]="canKick" (kickedUser)="onKickedUser($event)"></app-user>
      </li>
      <li *ngIf="!users.length" class="p-user">Waiting on players...</li>
      <li class="p-user">
        <hr/>
        <app-user [user]="owner" [room]="room"></app-user>
      </li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="p-point-list">
      <li *ngFor="let card of fibonacci" class="p-point-list-item wobble-vertical" [class.p-selected]="card?.selected" (click)="onSelectedFibonacci(card)">{{card.points}}</li>
    </ul>
  </div>
</div>