<!-- Room panel -->
<div class="container p-room-container">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="p-title-container">
          <span *ngIf="!isEditingName" class="p-nav-title" [title]="room?.name">{{room?.name}}</span>
          <div *ngIf="user?.isOwner" class="p-nav-title-editing-container">
            <input *ngIf="isEditingName" class="p-title-input" type="text" (blur)="onEditedName($event)" (keyup.enter)="onEditedName($event)"
              [value]="room?.name">
              <button class="btn btn-default p-edit-button" (click)="onEditName()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </div>

        <!-- Sign out button -->
        <button class="btn btn-default p-nav-btn" title="Sign out!" (click)="onSignout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i></button>

        <!-- Player-observer switch -->
        <button class="btn btn-default p-nav-btn" (click)="onUpdatePlayer()">
          <i *ngIf="user?.isPlayer" title="Switch to observing" class="fa fa-user-o" aria-hidden="true"></i>
          <i *ngIf="!user?.isPlayer" title="Switch to playing" class="fa fa-user" aria-hidden="true"></i>          
        </button>

        <!-- Lock label -->
        <span *ngIf="!user?.isOwner" class="p-nav-control">
                        <span *ngIf="lockRoom" title="Room is unlocked"><i class="fa fa-lock p-room-locked" aria-hidden="true"></i></span>
        <span *ngIf="!lockRoom" title="Room is locked"><i class="fa fa-unlock-alt p-room-unlocked" aria-hidden="true"></i></span>
        </span>

        <!-- Freeze label -->
        <span *ngIf="!user?.isOwner" class="p-nav-control">
                    <span *ngIf="freezeRoom" title="Room is frozen"><i class="fa fa-snowflake-o p-room-freeze" aria-hidden="true"></i></span>
        <span *ngIf="!freezeRoom" title="Room is unfrozen"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span>
        </span>

        <!-- Lock button -->
        <button class="btn btn-default p-nav-btn" *ngIf="user?.isOwner" (click)="onLockRoom()">
                        <span *ngIf="lockRoom" title="Unlock room"><i class="fa fa-lock p-room-locked" aria-hidden="true"></i></span>
                        <span *ngIf="!lockRoom" title="Lock room"><i class="fa fa-unlock-alt p-room-unlocked" aria-hidden="true"></i></span></button>

        <!-- Freeze button -->
        <button class="btn btn-default p-nav-btn" *ngIf="user?.isOwner" (click)="onFreezeRoom()">
                        <span *ngIf="freezeRoom" title="Unfreeze room"><i class="fa fa-snowflake-o p-room-freeze" aria-hidden="true"></i></span>
                        <span *ngIf="!freezeRoom" title="Freeze room"><i class="fa fa-snowflake-o" aria-hidden="true"></i></span></button>

        <!-- Reveal button -->
        <button class="btn btn-default p-nav-btn" title="Reveal points" *ngIf="user?.isOwner" (click)="onRevealRoom()">
                    <i class="fa fa-magic p-room-reveal"  [class.p-revealed]="room?.reveal" aria-hidden="true"></i></button>

        <!-- Reset button -->
        <button class="btn btn-default p-nav-btn" title="Set/Reset session" *ngIf="user?.isOwner" (click)="onResetRoom()">
                    <i class="fa fa-repeat p-room-reset"  aria-hidden="true"></i></button>

        <app-emote></app-emote>

      </div>
    </div>
  </nav>
</div>
<div class="container p-gamearea">
  <div class="col-xs-6"></div>
  <div class="col-xs-6">
    <!--<i _ngcontent-ilx-4="" class="sprite sprite-1f553 p-sprite "></i>-->
    <span class="p-timer">{{time}}</span>
  </div>
  <div class="col-xs-6">
    <ul class="p-user-list">
      <li *ngFor="let user of users" class="p-user">
        <app-user [user]="user" [room]="room"></app-user>
      </li>
      <li *ngIf="!users.length" class="p-user">Waiting on players...</li>
      <li class="p-owner">
        <hr/>
        <app-user [user]="owner" [room]="room"></app-user>
        <!--<div class="p-player-container">

            <div *ngIf="owner?.isPlayer && !room?.reveal" class="p-user-points" [class.p-has-points]="owner?.points && owner?.isPlayer"
            [class.p-has-new-points]="owner?.hasNewPoints"></div>

            <div *ngIf="owner?.isPlayer && room?.reveal" class="p-user-points-revealed" [class.p-has-points]="owner?.points && owner?.isPlayer"
            [class.p-has-new-points]="owner?.hasNewPoints"><span>{{owner?.points}}</span></div>

            <i *ngIf="owner?.emoji!=''" class="sprite p-sprite" [ngClass]="owner?.emoji"></i>

            <i *ngIf="owner?.isPlayer" title="Room owner is player" class="fa fa-user" aria-hidden="true"></i>
            <i *ngIf="!owner?.isPlayer" title="Room owner is observing" class="fa fa-user-o" aria-hidden="true"></i>

            <div class="p-room-username" [innerHtml]="owner?.name"></div>
          </div>-->
      </li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul class="p-point-list">
      <li *ngFor="let card of fibonacci" class="p-point-list-item wobble-vertical" [class.p-selected]="card?.selected" (click)="onSelectedFibonacci(card)">{{card.points}}</li>
    </ul>
  </div>

  <!--<i class="sprite sprite-1f553 p-sprite " (click)="onEmojiSelected($event) "></i>-->
  <!--<i class="sprite sprite-1f5e8 p-sprite " (click)="onEmojiSelected($event) "></i>
<i class="sprite sprite-270b p-sprite " (click)="onEmojiSelected($event) "></i>-->
</div>