.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-default {
    background-image: url(sprite-default.png);
    background-repeat: no-repeat;    
    width:16px;
    height:16px;
}

.sprite-1f5e8 {
    width: 60px;
    height: 40px;
    background-position: -64px 0;
}

.sprite-1f44d {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.sprite-1f553 {
    width: 32px;
    height: 32px;
    background-position: -32px 0;
}

.sprite-1f600 {
    width: 32px;
    height: 32px;
    background-position: -124px 0;
}

.sprite-1f601 {
    width: 32px;
    height: 32px;
    background-position: -156px 0;
}

.sprite-1f602 {
    width: 32px;
    height: 32px;
    background-position: -188px 0;
}

.sprite-1f603 {
    width: 32px;
    height: 32px;
    background-position: 0 -32px;
}

.sprite-1f604 {
    width: 32px;
    height: 32px;
    background-position: -32px -32px;
}

.sprite-1f605 {
    width: 32px;
    height: 32px;
    background-position: -124px -32px;
}

.sprite-1f606 {
    width: 32px;
    height: 32px;
    background-position: -156px -32px;
}

.sprite-1f607 {
    width: 32px;
    height: 32px;
    background-position: -188px -32px;
}

.sprite-1f609 {
    width: 32px;
    height: 32px;
    background-position: 0 -64px;
}

.sprite-1f60b {
    width: 32px;
    height: 32px;
    background-position: -32px -64px;
}

.sprite-1f60c {
    width: 32px;
    height: 32px;
    background-position: -64px -64px;
}

.sprite-1f60d {
    width: 32px;
    height: 32px;
    background-position: -96px -64px;
}

.sprite-1f60e {
    width: 32px;
    height: 32px;
    background-position: -128px -64px;
}

.sprite-1f60f {
    width: 32px;
    height: 32px;
    background-position: -160px -64px;
}

.sprite-1f610 {
    width: 32px;
    height: 32px;
    background-position: -192px -64px;
}

.sprite-1f611 {
    width: 32px;
    height: 32px;
    background-position: 0 -96px;
}

.sprite-1f612 {
    width: 32px;
    height: 32px;
    background-position: -32px -96px;
}

.sprite-1f613 {
    width: 32px;
    height: 32px;
    background-position: -64px -96px;
}

.sprite-1f614 {
    width: 32px;
    height: 32px;
    background-position: -96px -96px;
}

.sprite-1f615 {
    width: 32px;
    height: 32px;
    background-position: -128px -96px;
}

.sprite-1f616 {
    width: 32px;
    height: 32px;
    background-position: -160px -96px;
}

.sprite-1f617 {
    width: 32px;
    height: 32px;
    background-position: -192px -96px;
}

.sprite-1f618 {
    width: 32px;
    height: 32px;
    background-position: 0 -128px;
}

.sprite-1f619 {
    width: 32px;
    height: 32px;
    background-position: -32px -128px;
}

.sprite-1f61a {
    width: 32px;
    height: 32px;
    background-position: -64px -128px;
}

.sprite-1f61b {
    width: 32px;
    height: 32px;
    background-position: -96px -128px;
}

.sprite-1f61c {
    width: 32px;
    height: 32px;
    background-position: -128px -128px;
}

.sprite-1f61d {
    width: 32px;
    height: 32px;
    background-position: -160px -128px;
}

.sprite-1f61e {
    width: 32px;
    height: 32px;
    background-position: -192px -128px;
}

.sprite-1f61f {
    width: 32px;
    height: 32px;
    background-position: 0 -160px;
}

.sprite-1f620 {
    width: 32px;
    height: 32px;
    background-position: -32px -160px;
}

.sprite-1f621 {
    width: 32px;
    height: 32px;
    background-position: -64px -160px;
}

.sprite-1f622 {
    width: 32px;
    height: 32px;
    background-position: -96px -160px;
}

.sprite-1f623 {
    width: 32px;
    height: 32px;
    background-position: -128px -160px;
}

.sprite-1f624 {
    width: 32px;
    height: 32px;
    background-position: -160px -160px;
}

.sprite-1f626 {
    width: 32px;
    height: 32px;
    background-position: -192px -160px;
}

.sprite-1f628 {
    width: 32px;
    height: 32px;
    background-position: 0 -192px;
}

.sprite-1f629 {
    width: 32px;
    height: 32px;
    background-position: -32px -192px;
}

.sprite-1f62b {
    width: 32px;
    height: 32px;
    background-position: -64px -192px;
}

.sprite-1f62c {
    width: 32px;
    height: 32px;
    background-position: -96px -192px;
}

.sprite-1f62d {
    width: 32px;
    height: 32px;
    background-position: -128px -192px;
}

.sprite-1f62e {
    width: 32px;
    height: 32px;
    background-position: -160px -192px;
}

.sprite-1f62f {
    width: 32px;
    height: 32px;
    background-position: -192px -192px;
}

.sprite-1f630 {
    width: 32px;
    height: 32px;
    background-position: -220px 0;
}

.sprite-1f633 {
    width: 32px;
    height: 32px;
    background-position: -220px -32px;
}

.sprite-1f634 {
    width: 32px;
    height: 32px;
    background-position: -224px -64px;
}

.sprite-1f635 {
    width: 32px;
    height: 32px;
    background-position: -224px -96px;
}

.sprite-1f641 {
    width: 32px;
    height: 32px;
    background-position: -224px -128px;
}

.sprite-1f642 {
    width: 32px;
    height: 32px;
    background-position: -224px -160px;
}

.sprite-1f644 {
    width: 32px;
    height: 32px;
    background-position: -224px -192px;
}

.sprite-270b {
    width: 32px;
    height: 32px;
    background-position: 0 -224px;
}