/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Adventure';
    src: url('./app/fonts/Adventure.otf');
}

@font-face {
    font-family: 'SpaceComics';
    src: url('./app/fonts/SpaceComics.ttf');
}

@font-face {
    font-family: 'BadApple';
    src: url('./app/fonts/BadApple.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url('./assets/spp_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}