.p-create-room-panel {
    width: 480px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    h3 {
        font-family: 'BadApple';
        font-size: 38px;
        color: #000;
    }
    .spp-room-super-title {
        font-family: 'Adventure';
        font-size: 72pt;
        color: #d13469;
        text-shadow: 1px 1px 1px #000;
    }
    .spp-room-poker-title {
        font-family: 'SpaceComics';
        font-size: 32pt;
        text-transform: uppercase;
        color: #2e8ecd;
        text-shadow: 1px 1px 1px #000;
    }
    .input-group {
        width: 100%;
    }
    .p-create-room-input {
        margin-top: 10px;
    }
    .p-create-room-btn {
        margin-top: 10px;
        width: 100%;
    }
}

.spp-logo {
    margin: 30px 0 20px;
}

.spp-hero-container {
    position: relative;
    .sprite {
        background-image: url(../../../assets/hero_spritesheet.png);
        background-repeat: no-repeat;
        display: block;
    }
    .sprite-body {
        width: 120px;
        height: 213px;
        background-position: 0 0;
    }
    .sprite-eyes_closed {
        width: 31px;
        height: 15px;
        top: 30px;
        left: 40px;
        background-position: -120px 0;
        position: absolute;
    }
    .sprite-eyes_open {
        width: 31px;
        height: 15px;
        top: 30px;
        left: 40px;
        background-position: -120px -15px;
        position: absolute;
        animation: blink-animation 3s steps(5, start) infinite;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}